{% extends "base.html" %}

{% block title %}Main page{% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block body %}
<h1>Pokedex</h1>
<label for="pokemon-name">Enter the name of a pokemon</label><br>
<input id="pokemon-name" type="text">
<button id="submit">Search</button>
<br>
<div id="pokemon">
    <p id="name"></p>
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/132.png" alter="a pokemon">
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
{% endblock %}